.container {
    background-color: rgb(34, 28, 28);
    border: 3px solid gray;
    width: 70%;
    text-align: center;
    margin: 0px auto;
    padding: 10px;
    
    
}
p { color: rgb(255, 255, 255); }
h1 { color: rgb(238, 176, 6);}
label {color: rgb(255, 255, 255);}
